soapwsxquerytransformation/src/main/resources/wsdl/schemas/AccountServicesWSSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://webservice.flhk.com/AccountServices/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://webservice.flhk.com/AccountServices/1.0">
  
  <xsd:element name="accountSearch" type="ns0:accountSearch" />
  <xsd:element name="accountSearchResponse" type="ns0:accountSearchResponse" />
  <xsd:complexType name="accountSearch">
    <xsd:sequence>
      <xsd:element name="searchCriteria" type="ns0:accountSearchCriteria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="accountSearchResult">
    <xsd:sequence>
      <xsd:element name="accountNumber" type="xsd:long" minOccurs="0" />
      <xsd:element name="webConfirmationId" type="xsd:string" minOccurs="0" />
      <xsd:element name="homeAddress1" type="xsd:string" minOccurs="0" />
      <xsd:element name="homeCity" type="xsd:string" minOccurs="0" />
      <xsd:element name="homeZipCode" type="xsd:string" minOccurs="0" />
      <xsd:element name="members" type="ns0:members" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="members">
    <xsd:sequence>
      <xsd:element name="member" type="ns0:member" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="member">
    <xsd:sequence>
      <xsd:element name="firstName" type="xsd:string" minOccurs="0" />
      <xsd:element name="lastName" type="xsd:string" minOccurs="0" />
      <xsd:element name="ssn" type="xsd:string" minOccurs="0" />
      <xsd:element name="memberType" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="accountSearchResponse">
    <xsd:sequence>
      <xsd:element name="searchResult" type="ns0:accountSearchResult" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="accountSearchCriteria">
    <xsd:sequence>
      <xsd:element name="accountNumber" type="xsd:long" minOccurs="0" />
      <xsd:element name="webConfirmationId" type="xsd:string" minOccurs="0" />
      <xsd:element name="firstName" type="xsd:string" minOccurs="0" />
      <xsd:element name="lastName" type="xsd:string" minOccurs="0" />
      <xsd:element name="ssn" type="xsd:string" minOccurs="0" />
      <xsd:element name="memberType" type="ns0:memberTypeEnum" minOccurs="0" />
      <xsd:element name="line1" type="xsd:string" minOccurs="0" />
      <xsd:element name="city" type="xsd:string" minOccurs="0" />
      <xsd:element name="zipCode" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="memberTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CHILD" />
      <xsd:enumeration value="PARENT" />
      <xsd:enumeration value="OTHER" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>