soapwsxquerytransformation/src/main/resources/wsdl/schemas/FLHKWebServiceSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by XMLSpy 2013 Professional Ed., Installed for 2 users (with SMP from 2012-12-20 to 2013-12-21) (MAXIMUS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://webservice.flhk.com/FLHKWebService/1.0" targetNamespace="http://webservice.flhk.com/FLHKWebService/1.0">
	<xsd:complexType name="submitApplication">
		<xsd:complexContent>
			<xsd:extension base="ns0:serviceRequest">
				<xsd:sequence>
					<xsd:element name="application" type="ns0:application" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="submitRenewal">
		<xsd:complexContent>
			<xsd:extension base="ns0:serviceRequest">
				<xsd:sequence>
					<xsd:element name="renewal" type="ns0:application" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="submitApplicationResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:submitAppResult" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="submitRenewalResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:submitAppResult" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="viewRenewal">
		<xsd:complexContent>
			<xsd:extension base="ns0:serviceRequest">
				<xsd:sequence>
					<xsd:element ref="ns0:familyAccountId" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="viewRenewalResponse">
		<xsd:sequence>
			<xsd:element name="renewal" type="ns0:application" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="viewAccountData">
		<xsd:complexContent>
			<xsd:extension base="ns0:serviceRequest">
				<xsd:sequence>
					<xsd:element ref="ns0:familyAccountId" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="viewAccountDataResponse">
		<xsd:sequence>
			<xsd:element name="accountData" type="ns0:accountData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="updateAccountData">
		<xsd:complexContent>
			<xsd:extension base="ns0:serviceRequest">
				<xsd:sequence>
					<xsd:element name="accountData" type="ns0:accountData" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="updateAccountDataResponse">
		<xsd:sequence>
			<xsd:element name="confirmation" type="ns0:confirmation"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="authenticateAccount">
		<xsd:complexContent>
			<xsd:extension base="ns0:serviceRequest">
				<xsd:sequence>
					<xsd:element ref="ns0:familyAccountId" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="parentSSN" type="ns0:ssn" nillable="true" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="parentDOB" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="authenticateAccountResponse">
		<xsd:sequence>
			<xsd:element name="confirmation" type="ns0:confirmation"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="serviceRequest">
		<xsd:sequence>
			<xsd:element name="transactionId" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="application">
		<xsd:sequence>
			<xsd:element name="applicants" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="parent" type="ns0:applicationParent" minOccurs="0" maxOccurs="2"/>
							<xsd:element name="child" type="ns0:applicationChild" minOccurs="0"/>
							<xsd:element name="otherPerson" type="ns0:applicationOther" minOccurs="0"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="familyAccountId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="webApplicationId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="languagePreference" type="ns0:languagePreferenceEnum" default="en" minOccurs="0"/>
			<xsd:element name="appSubmittedDate" type="xsd:dateTime" minOccurs="1"/>
			<xsd:element name="cellPhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="emailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="homeAddress" type="ns0:address" minOccurs="0"/>
			<xsd:element name="homePhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="mailingAddress" type="ns0:address" minOccurs="0"/>
			<xsd:element name="pregnancyDueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="unpaidMedicalBills" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="hasNoUnearnedIncome" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="hasNoEarnedIncome" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="monthlyIncomeDiscrepancyNote" type="xsd:string" minOccurs="0"/>
			<xsd:element name="notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="firstSignatureSigned" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="firstSignatureSignedDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="secondSignatureSigned" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="secondSignatureSignedDate" type="xsd:date" minOccurs="0"/>
			<!-- moved out to batch schema  xsd:element name="applicationEnteredTimestamp" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="associatedDocumentType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="associatedSourceDocumentId" type="xsd:string" minOccurs="0"/-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="calendarMonth">
		<xsd:sequence>
			<xsd:element name="month">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="year">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="1900"/>
						<xsd:maxInclusive value="2100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="applicationParent">
		<xsd:complexContent>
			<xsd:extension base="ns0:applicationPerson">
				<xsd:sequence>
					<xsd:element name="workPhone" type="xsd:string" minOccurs="0"/>
					<xsd:element name="householdCareExpense" type="ns0:householdCareExpense" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="childSupportExpenseMonthlyAmount" type="xsd:decimal" minOccurs="0"/>
					<xsd:element name="childSupportExpenseNumber" type="xsd:long" minOccurs="0"/>
					<xsd:element name="childSupportExpenseStatus" type="ns0:expenseStatusEnum" minOccurs="0"/>
					<xsd:element name="employerName" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="parentType" type="ns0:parentTypeEnum" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="earnedIncome">
		<xsd:sequence>
			<xsd:element name="incomeNumber" type="xsd:long" minOccurs="0"/>
			<xsd:element name="incomeStatus" type="ns0:incomeStatusEnum" minOccurs="0"/>
			<xsd:element name="amountReceived" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="frequency" type="ns0:incomeFrequencyEnum" minOccurs="0"/>
			<xsd:element name="fullTimeStudent" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="employerName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="selfEmploymentMonthlyAmount" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="personName">
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="middleInitial" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suffix" type="ns0:nameSuffixEnum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="insuranceInfo">
		<xsd:sequence>
			<xsd:element name="insuranceCancelledOn" type="ns0:calendarMonth" minOccurs="0"/>
			<xsd:element name="insuranceMonthlyCost" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="insuranceProviders" type="ns0:insuranceProviderEnum" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="insuranceVoluntarilyCancelled" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="otherInsuranceProviderName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="applicationPerson" abstract="true">
		<xsd:sequence>
			<xsd:element name="personNumber" type="xsd:long" minOccurs="0"/>
			<xsd:element name="personName" type="ns0:personName" minOccurs="0"/>
			<xsd:element name="ssn" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="dateOfBirth" type="xsd:date" minOccurs="0"/>
			<xsd:element name="gender" type="ns0:genderEnum" minOccurs="0"/>
			<xsd:element name="earnedIncome" type="ns0:earnedIncome" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="unearnedIncome" type="ns0:unearnedIncome" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="positionOnApp" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="applicantRemoved" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="applicantRemovedReason" type="ns0:applicantRemovedReasonEnum" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="address">
		<xsd:sequence>
			<xsd:element name="line1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="line2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="city" type="xsd:string" minOccurs="0"/>
			<xsd:element name="county" type="xsd:string" minOccurs="0"/>
			<xsd:element name="state" type="xsd:string" minOccurs="0"/>
			<xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="validated" type="xsd:boolean" default="false" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="applicationOther">
		<xsd:complexContent>
			<xsd:extension base="ns0:applicationPerson">
				<xsd:sequence>
					<xsd:element name="householdCareExpense" type="ns0:householdCareExpense" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="childSupportExpenseMonthlyAmount" type="xsd:decimal" minOccurs="0"/>
					<xsd:element name="childSupportExpenseNumber" type="xsd:long" minOccurs="0"/>
					<xsd:element name="childSupportExpenseStatus" type="ns0:expenseStatusEnum" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="unearnedIncome">
		<xsd:sequence>
			<xsd:element name="incomeNumber" type="xsd:long" minOccurs="0"/>
			<xsd:element name="incomeStatus" type="ns0:incomeStatusEnum" minOccurs="0"/>
			<xsd:element name="monthlyIncomeOther" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="monthlySSIBenefitAmount" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="monthlySocialSecurityBenefitAmount" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="monthlyUnemploymentAmount" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="applicationChild">
		<xsd:complexContent>
			<xsd:extension base="ns0:applicationPerson">
				<xsd:sequence>
					<xsd:element name="applyingForKidCare" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="childSupportIncome" type="ns0:childSupportIncome" minOccurs="0"/>
					<xsd:element name="citizenOfUS" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="usEntryDate" type="xsd:date" minOccurs="0"/>
					<xsd:element name="uscisNumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="hasHealthInsurance" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="insuranceInfo" type="ns0:insuranceInfo" minOccurs="0"/>
					<xsd:element name="race1" type="ns0:raceEnum" minOccurs="0"/>
					<xsd:element name="race2" type="ns0:raceEnum" minOccurs="0"/>
					<xsd:element name="ethnicity" type="ns0:ethnicityEnum" minOccurs="0"/>
					<xsd:element name="relationshipToParent1" type="ns0:relationshipToParentEnum" minOccurs="0"/>
					<xsd:element name="relationshipToParent2" type="ns0:relationshipToParentEnum" minOccurs="0"/>
					<xsd:element name="ssnAppliedDate" type="xsd:date" minOccurs="0"/>
					<xsd:element name="limitedInAnyWay" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="needsSpecialTherapy" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="usesMoreMedicalCareThanUsual" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="cmsPreapproved" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="householdCareExpense">
		<xsd:sequence>
			<xsd:element name="expenseNumber" type="xsd:long" minOccurs="0"/>
			<xsd:element name="expenseStatus" type="ns0:expenseStatusEnum" minOccurs="0"/>
			<xsd:element name="monthlyAmount" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="nameOfCaredForPerson" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="childSupportIncome">
		<xsd:sequence>
			<xsd:element name="fullAmountReceivedEveryMonth" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="monthlyAmount" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="familyAccountId" type="xsd:long"/>
	<xsd:element name="application" type="ns0:application"/>
	<xsd:element name="applicationOther" type="ns0:applicationOther"/>
	<xsd:element name="applicationChild" type="ns0:applicationChild"/>
	<xsd:element name="submitApplicationResponse" type="ns0:submitApplicationResponse"/>
	<xsd:element name="submitRenewalResponse" type="ns0:submitRenewalResponse"/>
	<xsd:element name="applicationParent" type="ns0:applicationParent"/>
	<xsd:element name="submitApplication" type="ns0:submitApplication"/>
	<xsd:element name="submitRenewal" type="ns0:submitRenewal"/>
	<xsd:element name="authenticateAccount" type="ns0:authenticateAccount"/>
	<xsd:element name="authenticateAccountResponse" type="ns0:authenticateAccountResponse"/>
	<xsd:element name="viewAccountData" type="ns0:viewAccountData"/>
	<xsd:element name="viewAccountDataResponse" type="ns0:viewAccountDataResponse"/>
	<xsd:element name="updateAccountData" type="ns0:updateAccountData"/>
	<xsd:element name="updateAccountDataResponse" type="ns0:updateAccountDataResponse"/>
	<xsd:element name="viewRenewal" type="ns0:viewRenewal"/>
	<xsd:element name="viewRenewalResponse" type="ns0:viewRenewalResponse"/>
	<xsd:simpleType name="languagePreferenceEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="en"/>
			<xsd:enumeration value="es"/>
			<xsd:enumeration value="ht"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="insuranceProviderEnum">
		<xsd:restriction base="xsd:string">
            <xsd:enumeration value="MEDICAID"/>
            <xsd:enumeration value="MEDICARE"/>
            <xsd:enumeration value="TRICARE"/>
            <xsd:enumeration value="CHIP"/>
            <xsd:enumeration value="PEACE_CORPS"/>
            <xsd:enumeration value="VETERAN_HEALTH_PROGRAM"/>
            <xsd:enumeration value="EMPLOYER"/>
            <xsd:enumeration value="PRIVATE"/>
            <xsd:enumeration value="STATE"/>
            <xsd:enumeration value="FEDERAL"/>
            <xsd:enumeration value="OPM"/>
            <xsd:enumeration value="UNSPECIFIED_LIMITED_COVERAGE"/>
            <xsd:enumeration value="UNSPECIFIED_FULL_COVERAGE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="genderEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MALE"/>
			<xsd:enumeration value="FEMALE"/>
			<xsd:enumeration value="UNKNOWN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="raceEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AMERICAN_INDIAN_OR_ALASKAN_NATIVE"/>
			<xsd:enumeration value="ASIAN"/>
			<xsd:enumeration value="BLACK_OR_AFRICAN_AMERICAN"/>
			<xsd:enumeration value="NATIVE_HAWAIIAN_OR_OTHER_PACIFIC_ISLANDER"/>
			<xsd:enumeration value="WHITE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ethnicityEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HISPANIC_OR_LATINO"/>
			<xsd:enumeration value="NOT_HISPANIC_OR_LATINO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="parentTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PARENT1"/>
			<xsd:enumeration value="PARENT2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="relationshipToParentEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CHILD"/>
			<xsd:enumeration value="STEPCHILD"/>
			<xsd:enumeration value="OTHER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="incomeFrequencyEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HOURLY"/>
			<xsd:enumeration value="WEEKLY"/>
			<xsd:enumeration value="BI_WEEKLY"/>
			<xsd:enumeration value="SEMI_MONTHLY"/>
			<xsd:enumeration value="MONTHLY"/>
			<xsd:enumeration value="YEARLY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="resultEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SUCCESS"/>
			<xsd:enumeration value="FAILURE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nameSuffixEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="JR"/>
			<xsd:enumeration value="SR"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="II"/>
			<xsd:enumeration value="III"/>
			<xsd:enumeration value="IV"/>
			<xsd:enumeration value="V"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VII"/>
			<xsd:enumeration value="VIII"/>
			<xsd:enumeration value="IX"/>
			<xsd:enumeration value="X"/>
			<xsd:enumeration value="ESQ"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="serviceStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AVAILABLE"/>
			<xsd:enumeration value="UNAVAILABLE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ssn">
		<xsd:restriction base="xsd:string">
			<xsd:length value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="submitAppResult">
		<xsd:sequence>
			<xsd:element name="status" type="ns0:resultEnum" minOccurs="0"/>
			<xsd:element name="message" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="isAlive"/>
	<xsd:element name="isAliveResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="ns0:serviceStatus"/>
				<xsd:element name="requestTimestamp" type="xsd:dateTime"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="accountData">
		<xsd:sequence>
			<xsd:element name="members">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice maxOccurs="unbounded">
							<xsd:element name="parent" type="ns0:parentMember"/>
							<xsd:element name="child" type="ns0:childMember" minOccurs="0"/>
							<xsd:element name="otherPerson" type="ns0:otherMember" minOccurs="0"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="accountNumber" type="xsd:long"/>
			<xsd:element name="defaultLanguage" type="ns0:languagePreferenceEnum" minOccurs="1"/>
			<xsd:element name="letters" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="letterRequest" type="ns0:letterRequest" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="accountContactInfo" type="ns0:accountContactInfo"/>
			<xsd:element name="pregnancyDueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="inRenewal" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="enableRequestForCoupon" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="sendCoupons" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="paymentInformation" type="ns0:paymentInfo" minOccurs="0"/>
			<xsd:element name="accountMissingInfo" type="ns0:accountMissingInfo" minOccurs="0"/>
			<xsd:element name="jpaVersion" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="childMember">
		<xsd:complexContent>
			<xsd:extension base="ns0:childParentMemberBase">
				<xsd:sequence>
					<xsd:element name="applyingForKidCare" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="currentMonthEnrollment" type="ns0:monthlyEnrollment" minOccurs="1"/>
					<xsd:element name="nextMonthEnrollment" type="ns0:monthlyEnrollment" minOccurs="0"/>
					<xsd:element name="healthPlanChangeRequest" type="ns0:healthPlanChangeRequest" minOccurs="0"/>
					<xsd:element name="inMedicalChoicePeriod" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="inDentalChoicePeriod" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="availableMedicalPlans" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence maxOccurs="unbounded">
								<xsd:element name="healthPlan" type="ns0:healthPlan" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="availableDentalPlans" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence maxOccurs="unbounded">
								<xsd:element name="dentalPlan" type="ns0:healthPlan" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<!-- Will add if needed <xsd:element name="relationshipToParent1" type="ns0:relationshipToParentEnum"
						minOccurs="0"/> <xsd:element name="relationshipToParent2" type="ns0:relationshipToParentEnum" 
						minOccurs="0"/> -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="healthPlanChangeRequest">
		<xsd:sequence>
			<xsd:element name="dentalPlan" type="xsd:string" minOccurs="0"/>
			<xsd:element name="medicalPlan" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="childParentMemberBase" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:member">
				<xsd:sequence>
					<xsd:element name="workPhone" type="xsd:string" minOccurs="0"/>
					<xsd:element name="memberMissingInfo" type="ns0:memberMissingInfo" minOccurs="0"/>
					<xsd:element name="incomeMissingInfo" type="ns0:incomeMissingInfo" minOccurs="0"/>
					<xsd:element name="expenseMissingInfo" type="ns0:expenseMissingInfo" minOccurs="0"/>
					<xsd:element name="fullTimeStudentIndicator" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="member" abstract="true">
		<xsd:sequence>
			<xsd:element name="accountMembershipNumber" type="xsd:long" minOccurs="0"/>
			<xsd:element name="personName" type="ns0:personName" minOccurs="0"/>
			<xsd:element name="ssn" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateOfBirth" type="xsd:date" minOccurs="0"/>
			<xsd:element name="gender" type="ns0:genderEnum" minOccurs="0"/>
			<xsd:element name="expenses" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="expense" type="ns0:expense" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="incomeMissingInfoItems" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="incomeMissingInfoItem" type="ns0:incomeMissingInfoEnum" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="expenseMissingInfoItems" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="expenseMissingInfoItem" type="ns0:expenseMissingInfoEnum" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="incomes" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="income" type="ns0:income" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="jpaVersion" type="xsd:long" minOccurs="0"/>
			<xsd:element name="amJpaVersion" type="xsd:long" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="otherMember">
		<xsd:complexContent>
			<xsd:extension base="ns0:member">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="parentMember">
		<xsd:complexContent>
			<xsd:extension base="ns0:childParentMemberBase">
				<xsd:sequence>
					<xsd:element name="parentType" type="ns0:parentTypeEnum" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="accountContactInfo">
		<xsd:sequence>
			<xsd:element name="cellPhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="emailBadAddress" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="emailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="homeAddress" type="ns0:address" minOccurs="0"/>
			<xsd:element name="homePhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="mailingAddress" type="ns0:address" minOccurs="0"/>
			<xsd:element name="homeAndMailingAddressAreSame" type="xsd:boolean"/>
			<xsd:element name="jpaVersion" type="xsd:long" minOccurs="0"/>
			<xsd:element name="preferredContactMethod" type="ns0:preferredContactMethod" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="letterRequest">
		<xsd:sequence>
			<xsd:element name="letterRequestId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="letterType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="statusDate" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="healthPlan">
		<xsd:sequence>
			<xsd:element name="healthPlan" type="xsd:string" minOccurs="0"/>
			<xsd:element name="healthPlanEmail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="healthPlanPhoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="healthPlanWebSite" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="accountMissingInfo">
		<xsd:sequence>
			<xsd:element name="accountMissingInfoItem" type="ns0:accountMissingInfoEnum" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="incomeMissingInfo">
		<xsd:sequence>
			<xsd:element name="incomeMissingInfoItem" type="ns0:incomeMissingInfoEnum" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="expenseMissingInfo">
		<xsd:sequence>
			<xsd:element name="expenseMissingInfoItem" type="ns0:expenseMissingInfoEnum" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="memberMissingInfo">
		<xsd:sequence>
			<xsd:element name="memberMissingInfoItem" type="ns0:memberMissingInfoEnum" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="paymentInfo">
		<xsd:sequence>
			<xsd:element name="paymentStatus" type="ns0:paymentStatusEnum"/>
			<xsd:element name="nextDueDate" type="xsd:date"/>
			<xsd:element name="amountDue" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="lastPaymentReceivedDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastPaymentAmountReceived" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="accountBalance" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="income">
		<xsd:sequence>
			<xsd:element name="incomeNumber" type="xsd:long" minOccurs="0"/>
			<xsd:element name="incomeStatus" type="ns0:financeItemStatusEnum" minOccurs="1"/>
			<xsd:element name="monthlyAmount" type="xsd:decimal"/>
			<xsd:element name="employerName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="frequency" type="ns0:monetaryFlowFrequency" minOccurs="0"/>
			<xsd:element name="hoursWorkedPerWeek" type="xsd:int" minOccurs="0"/>
			<xsd:element name="type" type="ns0:incomeTypeEnum"/>
			<xsd:element name="jpaVersion" type="xsd:long" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="expense">
		<xsd:sequence>
			<xsd:element name="expenseNumber" type="xsd:long" minOccurs="0"/>
			<xsd:element name="expenseStatus" type="ns0:financeItemStatusEnum" minOccurs="1"/>
			<xsd:element name="nameOfCaredForPerson" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportedMonthlyAmount" type="xsd:decimal"/>
			<xsd:element name="type" type="ns0:expenseTypeEnum"/>
			<xsd:element name="jpaVersion" type="xsd:long" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="incomeTypeEnum">
		<xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALIMONY"/>
            <xsd:enumeration value="CANCELED_DEBT"/>
            <xsd:enumeration value="CAPITAL_GAINS"/>
            <xsd:enumeration value="CASH_SUPPORT"/>
            <xsd:enumeration value="COURT_AWARD"/>
            <xsd:enumeration value="FARMING_OR_FISHING"/>
            <xsd:enumeration value="INTEREST"/>
            <xsd:enumeration value="JURY_DUTY"/>
            <xsd:enumeration value="PENSION"/>
            <xsd:enumeration value="RENTAL_OR_ROYALTY"/>
            <xsd:enumeration value="RETIREMENT"/>
            <xsd:enumeration value="SCHOLARSHIP"/>
            <xsd:enumeration value="SELF_EMPLOYMENT"/>
            <xsd:enumeration value="SOCIAL_SECURITY"/>
            <xsd:enumeration value="UNEMPLOYMENT"/>
            <xsd:enumeration value="UNSPECIFIED"/>
            <xsd:enumeration value="WAGES"/>
            <xsd:enumeration value="WINNINGS"/>
            <xsd:enumeration value="WORKERS_COMP"/>
            <xsd:enumeration value="VA_BENEFITS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="expenseTypeEnum">
		<xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALIMONY"/>
            <xsd:enumeration value="STUDENT_LOAN_INTEREST"/>
            <xsd:enumeration value="OTHER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="accountMissingInfoEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RESIDENCE_STATE_BLANK"/>
			<xsd:enumeration value="RESIDENCE_COUNTY_BLANK"/>
			<xsd:enumeration value="HOME_PHONE_BLANK"/>
			<xsd:enumeration value="CELL_PHONE_BLANK"/>
			<xsd:enumeration value="INCOME_UNVERIFIED"/>
			<xsd:enumeration value="APPLICATION_NOT_SIGNED"/>
			<xsd:enumeration value="INCOMPLETE_MAILING_ADDRESS"/>
			<xsd:enumeration value="MISSING_EARNED_INCOME"/>
			<xsd:enumeration value="MISSING_UNEARNED_INCOME"/>
			<xsd:enumeration value="HOUSEHOLD_UNPAID_MEDICAL_BLANK"/>
			<xsd:enumeration value="MISSING_UNKNOWN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="programTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MK"/>
			<xsd:enumeration value="HK"/>
			<xsd:enumeration value="CMSN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paymentStatusEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CURRENT"/>
			<xsd:enumeration value="PAST_DUE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="incomeStatusEnum">
		<xsd:restriction base="ns0:financeItemStatusEnum"/>
	</xsd:simpleType>
	<xsd:simpleType name="expenseStatusEnum">
		<xsd:restriction base="ns0:financeItemStatusEnum"/>
	</xsd:simpleType>
	<xsd:simpleType name="financeItemStatusEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEW"/>
			<xsd:enumeration value="NO_CHANGE"/>
			<xsd:enumeration value="CHANGED"/>
			<xsd:enumeration value="REMOVED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="serviceReplyEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SUCCESS"/>
			<xsd:enumeration value="FAILURE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="applicantRemovedReasonEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MOVED_OUT_OF_HOUSEHOLD"/>
			<xsd:enumeration value="DEATH"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="memberMissingInfoEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PARENT_ONE_FIRST_NAME_BLANK"/>
			<xsd:enumeration value="PARENT_ONE_LAST_NAME_BLANK"/>
			<xsd:enumeration value="PARENT_ONE_SSN_BLANK"/>
			<xsd:enumeration value="PARENT_ONE_DOB_BLANK"/>
			<xsd:enumeration value="PARENT_TWO_FIRST_NAME_BLANK"/>
			<xsd:enumeration value="PARENT_TWO_LAST_NAME_BLANK"/>
			<xsd:enumeration value="PARENT_TWO_SSN_BLANK"/>
			<xsd:enumeration value="PARENT_TWO_DOB_BLANK"/>
			<xsd:enumeration value="CHILD_DOB_BLANK"/>
			<xsd:enumeration value="CHILD_GENDER_BLANK"/>
			<xsd:enumeration value="CHILD_DECLARED_CITIZENSHIP_BLANK"/>
			<xsd:enumeration value="CHILD_NONCITIZEN_UNVERIFIED"/>
			<xsd:enumeration value="CHILD_CITIZEN_UNVERIFIED"/>
			<xsd:enumeration value="CHILD_PARENT_ONE_BLANK"/>
			<xsd:enumeration value="CHILD_PARENT_TWO_BLANK"/>
			<xsd:enumeration value="CHILD_FIRST_NAME_BLANK"/>
			<xsd:enumeration value="CHILD_LAST_NAME_BLANK"/>
			<xsd:enumeration value="CHILD_PRESENCE_HOUSEHOLD_UNKNOWN"/>
			<xsd:enumeration value="CHILD_SSN_BLANK"/>
			<xsd:enumeration value="CHILD_OTHER_INSURANCE_BLANK"/>
			<xsd:enumeration value="CHILD_OTHER_INSURANCE_NAME_BLANK"/>
			<xsd:enumeration value="CHILD_OTHER_INSURANCE_COST_BLANK"/>
			<xsd:enumeration value="CHILD_VOL_CANC_INS_BLANK"/>
			<xsd:enumeration value="CHILD_VOL_CANC_INS_DATE_BLANK"/>
			<xsd:enumeration value="CHILD_TRIBAL_MMBRSHP_UNVERIFIED"/>
			<xsd:enumeration value="PARENT_OTHER_FIRST_NAME_BLANK"/>
			<xsd:enumeration value="PARENT_OTHER_LAST_NAME_BLANK"/>
			<xsd:enumeration value="PARENT_OTHER_SSN_BLANK"/>
			<xsd:enumeration value="SPECIAL_NEEDS_BLANK"/>
			<xsd:enumeration value="APPLYING_FOR_KIDCARE_BLANK"/>
			<xsd:enumeration value="CHILD_IDENTITY_UNVERIFIED"/>
			<xsd:enumeration value="CHILD_MDCD_REFERRAL_PENDING"/>
			<xsd:enumeration value="FULL_TIME_STUDENT_BLANK"/>
			<!--xsd:enumeration value="CHILD_HAS_INSURANCE_BLANK"/-->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="monthlyEnrollment">
		<xsd:sequence>
			<xsd:element name="coverageMonth" type="ns0:calendarMonth" minOccurs="1"/>
			<xsd:element name="dentalPlan" type="ns0:healthPlan" minOccurs="0"/>
			<xsd:element name="medicalEnrollmentStatus" type="ns0:enrollmentStatusEnum" minOccurs="1"/>
			<xsd:element name="medicalPlan" type="ns0:healthPlan" minOccurs="0"/>
			<xsd:element name="programName" type="ns0:programTypeEnum" minOccurs="0"/>
			<xsd:element name="enrollmentDisplayStatus" type="ns0:enrollmentDisplayStatusEnum" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="confirmation">
		<xsd:sequence>
			<xsd:element name="serviceReply" type="ns0:serviceReplyEnum"/>
			<xsd:element name="message" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="enrollmentStatusEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CANCELED_MEDICAID_APPROVED"/>
			<xsd:enumeration value="CANCELED_MEDICAID_NON_COMPLIANT"/>
			<xsd:enumeration value="CANCELED_NON_CITIZEN_NON_QUALIFIED"/>
			<xsd:enumeration value="CANCELED_NON_COMPLIANT"/>
			<xsd:enumeration value="CANCELED_NON_PAYMENT"/>
			<xsd:enumeration value="CANCELED_ON_MEDICAID"/>
			<xsd:enumeration value="CANCELED_OTHER"/>
			<xsd:enumeration value="CANCELED_OTHER_INS"/>
			<xsd:enumeration value="CANCELED_OUT_OF_HH"/>
			<xsd:enumeration value="CANCELED_OUT_OF_STATE"/>
			<xsd:enumeration value="CANCELED_OVER_AGE"/>
			<xsd:enumeration value="CANCELED_UNDER_AGE"/>
			<xsd:enumeration value="DENIED_MEDICAID_APPROVED"/>
			<xsd:enumeration value="DENIED_MEDICAID_NON_COMPLIANT"/>
			<xsd:enumeration value="DENIED_NON_CITIZEN_NON_QUALIFIED"/>
			<xsd:enumeration value="DENIED_NON_COMPLIANT"/>
			<xsd:enumeration value="DENIED_NON_PAYMENT"/>
			<xsd:enumeration value="DENIED_ON_MEDICAID"/>
			<xsd:enumeration value="DENIED_OTHER"/>
			<xsd:enumeration value="DENIED_OTHER_INS"/>
			<xsd:enumeration value="DENIED_OUT_OF_HH"/>
			<xsd:enumeration value="DENIED_OUT_OF_STATE"/>
			<xsd:enumeration value="DENIED_OVER_AGE"/>
			<xsd:enumeration value="DENIED_UNDER_AGE"/>
			<xsd:enumeration value="ENROLLED"/>
			<xsd:enumeration value="PENDING_ENROLLMENT"/>
			<xsd:enumeration value="PENDING_MEDICAID_REFERRAL"/>
			<xsd:enumeration value="PENDING_PREMIUM_PAYMENT"/>
			<xsd:enumeration value="PENDING_VERIFICATIONS"/>
			<xsd:enumeration value="UNKNOWN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="enrollmentDisplayStatusEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Cancelled"/>
			<xsd:enumeration value="Denied"/>
			<xsd:enumeration value="Pending"/>
			<xsd:enumeration value="Unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="incomeMissingInfoEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INCOMPLETE_EARNED_INCOME_NAME"/>
			<xsd:enumeration value="INCOMPLETE_EARNED_INCOME_AMOUNT"/>
			<xsd:enumeration value="INCOMPLETE_CHILD_SUPPORT_INCOME_NAME"/>
			<xsd:enumeration value="INCOMPLETE_UNEARNED_INCOME_NAME"/>
			<xsd:enumeration value="INCOMPLETE_UNEARNED_INCOME_AMOUNT"/>
			<xsd:enumeration value="PROOF_OF_EARNED_INCOME"/>
			<xsd:enumeration value="PROOF_OF_SELF_EMPLOYMENT_INCOME"/>
			<xsd:enumeration value="PROOF_OF_UNEARNED_INCOME"/>
			<xsd:enumeration value="PROOF_OF_CHILD_SUPPORT_INCOME"/>
			<xsd:enumeration value="PROOF_OF_SSA_INCOME"/>
			<xsd:enumeration value="PROOF_OF_SSI_INCOME"/>
			<xsd:enumeration value="PROOF_OF_UNEMPLOYMENT_INCOME"/>
			<xsd:enumeration value="PROOF_OF_OTHER_INCOME"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="expenseMissingInfoEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INCOMPLETE_DAYCARE_EXPENSE_INCARE_NAME"/>
			<xsd:enumeration value="INCOMPLETE_DAYCARE_EXPENSE_AMOUNT"/>
			<xsd:enumeration value="INCOMPLETE_DAYCARE_EXPENSE_PAYOR"/>
			<xsd:enumeration value="INCOMPLETE_CHILD_SUPPORT_EXPENSE_AMOUNT"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="monetaryFlowFrequency">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="WEEKLY"/>
            <xsd:enumeration value="MONTHLY"/>
            <xsd:enumeration value="ANNUALLY"/>
            <xsd:enumeration value="QUARTERLY"/>
            <xsd:enumeration value="BIWEEKLY"/>
            <xsd:enumeration value="SEMIMONTHLY"/>
            <xsd:enumeration value="HOURLY"/>
            <xsd:enumeration value="DAILY"/>
            <xsd:enumeration value="SEMIANNUALLY"/>
            <xsd:enumeration value="TIMES_PER_YEAR_13"/>
            <xsd:enumeration value="TIMES_PER_YEAR_11"/>
            <xsd:enumeration value="TIMES_PER_YEAR_10"/>
            <xsd:enumeration value="ONCE"/>
        </xsd:restriction>
    </xsd:simpleType>
        <xsd:simpleType name="preferredContactMethod">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EMAIL"/>
            <xsd:enumeration value="MAIL"/>
            <xsd:enumeration value="TEXT_MESSAGE"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
