soapwsxquerytransformation/src/main/resources/wsdl/lettermanagerwsschema.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://webservice.flhk.com/FLHKWebService/1.0"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservice.flhk.com/FLHKWebService/1.0"
	targetNamespace="http://webservice.flhk.com/FLHKWebService/1.0">
	<wsdl:types>
		<xsd:schema
			xmlns:ns0="http://webservice.flhk.com/FLHKWebService/1.0"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://webservice.flhk.com/FLHKWebService/1.0">
			<xsd:complexType name="insertLetterPDFLinksResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="return"
						type="ns0:confirmation" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="confirmation">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="message"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="serviceReply"
						type="ns0:serviceReplyEnum" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="insertLetterPDFLinksRequest">
				<xsd:complexContent>
					<xsd:extension base="ns0:serviceRequest">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="fileName"
								type="xsd:string" />
							<xsd:element minOccurs="0" name="filePath"
								type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="insertLetterPDFLinksResponse"
				type="ns0:insertLetterPDFLinksResponse" />
			<xsd:element name="insertLetterPDFLinksRequest"
				type="ns0:insertLetterPDFLinksRequest" />
			<xsd:simpleType name="serviceReplyEnum">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SUCCESS" />
					<xsd:enumeration value="FAILURE" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="serviceRequest">
				<xsd:sequence>
					<xsd:element minOccurs="1" name="transactionId"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="insertLetterPDFLinksResponse">
		<wsdl:part element="tns:insertLetterPDFLinksResponse"
			name="insertLetterPDFLinksResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="insertLetterPDFLinksRequest">
		<wsdl:part element="tns:insertLetterPDFLinksRequest"
			name="insertLetterPDFLinksRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="customerdetails">
		<wsdl:operation name="insertLetterPDFLinks">
			<wsdl:input message="tns:insertLetterPDFLinksRequest"
				name="insertLetterPDFLinksRequest">
			</wsdl:input>
			<wsdl:output message="tns:insertLetterPDFLinksResponse"
				name="insertLetterPDFLinksResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="customerdetailsSoap11"
		type="tns:customerdetails">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="insertLetterPDFLinks">
			<soap:operation soapAction="" />
			<wsdl:input name="insertLetterPDFLinksRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="insertLetterPDFLinksResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="customerdetailsService">
		<wsdl:port binding="tns:customerdetailsSoap11"
			name="customerdetailsSoap11">
			<soap:address location="http://localhost:9090/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>